{% extends 'base.html.twig' %}

{% block title %}Создание курса{% endblock %}

{% block body %}
    <h1>Создание курса</h1>

    {{ form_start(form) }}
        <div>
            {{ form_row(form.name, {'label': 'Название'}) }}
        </div>
        <div>
            {{ form_row(form.description, {'label': 'Описание'}) }}
        </div>
        <button type="submit">Сохранить</button>
    {{ form_end(form) }}

    <a href="{{ path('course_index') }}">К списку курсов</a>
{% endblock %}