{% extends 'base.html.twig' %}

{% block title %} {{ lesson.name }} / {{ lesson.course.name }} / StudyOn{% endblock %}

{% block body %}
<div class="container mt-2">
    <h1 class="mb-3">{{ lesson.name }}</h1>
    <p>Курс: <a href="{{ path('course_show', {'id': lesson.course.id}) }}" class="link-hover">{{ lesson.course.name }}</a></p>

    {% include 'lesson/_form.html.twig' %}

    <hr>
        
    {{ include('lesson/_delete_form.html.twig') }}
</div>
{% endblock %}
