{% extends 'base.html.twig' %}

{% block title %}Новый урок / StudyOn{% endblock %}

{% block body %}
    <h1>Создать новый урок</h1>

    {{ form_start(form) }}
    <div>
        {{ form_row(form.name, {'label': 'Name'}) }}
    </div>
    <div>
        {{ form_row(form.content, {'label': 'content'}) }}
    </div>
    <div>
        {{ form_row(form.position, {'label': 'Ordering'}) }}
    </div>
    <button type="submit">Сохранить</button>
    {{ form_end(form) }}

{% endblock %}
