{% extends 'base.html.twig' %}
{% block title %}{{ lesson.name }} / {{ lesson.course.name }} / StudyOn{% endblock %}

{% block body %}
<h1>{{ lesson.name }}</h1>
<p><a href="{{ path('course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a></p>
<p>{{ lesson.content }}</p>

<a href="{{ path('lesson_edit', {'id': lesson.id}) }}">Edit</a>
<form method="post" action="{{ path('lesson_delete', {'id': lesson.id}) }}" onsubmit="return confirm('Are you sure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
    <button class="btn">Delete</button>
</form>
{% endblock %}
